@model DAL.ViewModel.AdminViewUploadVm;

@{
    Layout = "~/Views/Shared/Provider/_LayoutProviderDashboard.cshtml";
}<div>    <main class=" container">        <div class="container  px-5 mt-1 d-flex flex-column justify-content-between">            <div class="d-flex  mt-4 justify-content-between">                <h4 class="medical-text">Conclude Care</h4>                <div id="backDiv" class="mb-5 " style="text-align: end;">                    <a asp-area="" asp-controller="Provider" asp-action="ProviderDashboard" class="btn shadow  btn-outline-secondary border-info text-info px-3 ">                        <i class="fa-solid fa-angle-left"></i> Back                    </a>                </div>            </div>            <div class="p-3" style="box-shadow: 2px 2px 10px rgb(179, 177, 177);">                <h6 class="mt-3"><strong>Patient Name</strong></h6>                <h4 class="text-info"> @Model.PatientName </h4>                    <div class="col-lg-12 mt-4 d-flex justify-content-between align-items-center">                        <input type="text" hidden id="requestId" value="@Model.RequestId"/>                        <input type="text" hidden id="physicianId" value="@Model.PhysicianId"/>                        <h4 class="mt-3">Encounters Forms</h4>                        <input type="file" id="myFile" name="file" hidden>                        <label class="btn btn-outline-info p-2" for="myFile" id="uploadbtnForConcludeCare">
                            <i class=" bi bi-cloud-arrow-up"></i>                            Upload                        </label>                    </div>                @* </form> *@                <table class="table  mt-3 ">                    <thead class="table-active">                        <tr>                            <th class="bg-transparent" scope="col">Documents</th>                            <th width="15%" class="bg-transparent" scope="col"> Action</th>                        </tr>                    </thead>                    <tbody>                        @foreach (var item in Model.requestWiseFiles)
                        {                            <tr>                                <td class="bg-transparent">@item.FileName</td>                                <td class="bg-transparent">
                                    <button type="button" class="btn documents btn-outline-info" onclick="location.href ='@Url.Action("ConcludeCareDownload","Provider",new {documentId = item.RequestWiseFileId})'">                                        <span><i class=" bi bi-cloud-arrow-down-fill"></i></span>                                    </button>                                    <button type="button" class="btn documents btn-outline-info" onclick="window.location.href='@Url.Action("ConcludeCareDelete","Provider",new {documentId = item.RequestWiseFileId, requestId = item.RequestId})'">
                                        <i class="bi bi-trash"></i>
                                    </button>                                </td>                            </tr>                        }                    </tbody>                </table>
                <form asp-action="ConcludeCarePost" asp-controller="Provider" asp-route-requestid="@Model.RequestId" method="post">                    <h6 class="mt-3"><strong>Patient Notes</strong></h6>                    <div class="form-floating input-detail">                        <input type="text" class="form-control" name="providernotes" id="floatingPassword" style="height: 100px" placeholder="" asp-for="ProviderNotes">                        <input type="hidden" asp-for="@Model.RequestId" />                        <label class="floating-label" for="floatingInput" style="width: 100%;">                            Provider Notes                        </label>                    </div>                    @if (Model.IsFinalized)
                    {
                        <button type="submit" value="1" name="command" class="float-end d-flex justify-content-end align-content-end btn btn-info text-white mt-3">Conclude Care</button>
                    }                    else
                    {
                        <button type="button" class="btn btn-info text-white mt-3 float-end d-flex justify-content-end align-content-end" data-bs-toggle="modal" data-bs-target="#finalizemodal">Conclude Care</button>
                    }
                </form>            </div>        </div>    </main>    @*------------------------finalize model------------------------*@    <div class="modal fade" id="finalizemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">        <div class="modal-dialog modal-dialog-centered">            <div class="modal-content">                <div class="modal-header bg-info">                    <h1 class="modal-title text-light  fs-5" id="exampleModalLabel">Confirm Finalization</h1>                    <button type="button" class="btn-close btn-light" data-bs-dismiss="modal" aria-label="Close"></button>                </div>                <div class="modal-body">                    <form >                        <input type="hidden" value="Model.RequestId" name="requestid" id="requestid" />                        <p>First Finalize case and than Conclude a case.</p>                        <div class="modal-footer">                            <button type="button" class="btn btn-outline-info " data-bs-dismiss="modal">Cancel</button>                        </div>                    </form>                </div>            </div>        </div>    </div></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>    document.getElementById('myFile').addEventListener('change', function () {
        var file = this.files[0];
        var requestId = document.getElementById('requestId').value;
        var physicianId = document.getElementById('physicianId').value;

        var formData = new FormData();
        formData.append('file', file);
        formData.append('requestId', requestId);
        formData.append('physicianId', physicianId);

        //this will send file via ajax 
        $.ajax({
            url: '/Provider/UploadForConcludeCare', // Update the URL with your controller route
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                // Handle success response
                console.log('File uploaded successfully');
                // You can update your UI here with the response if needed
                location.reload();

            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error('Error uploading file: ', error);
            }
        });
    });
</script>