@model DAL.ViewModelProvider.TimeSheetModel;

@{
    if (Model.IsAdmin == true)
    {
        Layout = "~/Views/Shared/_LayoutMainAdminDashboard.cshtml";
        ViewBag.Provider = "Active";

    }
    else
    {
        Layout = "~/Views/Shared/Provider/_LayoutProviderDashboard.cshtml";
        ViewBag.Invoicing = "Active";
    }
}

<div class="heading flex-row-reverse d-flex my-3 ">

    @* @if (Model.IsAdmin == true)
    {
        <a asp-action="Invoicing" asp-route-IsAdmin="true" asp-route-physicianId="@Model.PhysicianId" asp-route-selectedDate="@Model.SelectedPeriod" asp-controller="Provider" style="max-width: fit-content;border-radius:5px" class="ms-auto border border-2 border-info p-2 text-info text-decoration-none fw-bold mt-1">
            <i class="bi bi-caret-left"></i> Back
        </a>
    }
    else
    {
        <a asp-action="Invoicing" asp-controller="Provider" style="max-width: fit-content;border-radius:5px" class="ms-auto border border-2 border-info p-2 text-info text-decoration-none fw-bold mt-1">
            <i class="bi bi-caret-left"></i> Back
        </a>
    } *@
    @if(Model.IsAdmin == true)
    {
        <button class="btn btn-outline-info" onclick="window.location.href='@Url.Action("AdminDashboard","Admin")'">Back</button>
    }
    else
    {
        <button class="btn btn-outline-info" onclick="window.location.href='@Url.Action("ProviderDashboard","Provider")'">Back</button>
    }
</div>

<form asp-action="SubmitTimesheet" asp-controller="Provider" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="PhysicianId" />
    <div class="box1 mt-3">
        <div class="headitem container">
            <div class="table-responsive ">
                <table class="table">

                    <thead>
                        <tr class="table-secondary" style="background-color: rgba(160, 160, 160, 0.137)">

                            <th width="16%">Date</th>
                            <th width="16%">On-Call Hours</th>
                            <th width="16%">Total Hours</th>
                            <th width="16%">Weekend/Holiday</th>
                            <th width="16%">Number of Housecalls</th>
                            <th width="16%">Number of Phone Consults</th>
                            @if (Model.IsAdmin == true)
                            {
                                <th scope="col" class="text-center">Total</th>
                            }

                        </tr>
                    </thead>

                    <tbody>
                        @for (int r = 0; r < Model.TimeSheetList.Count; r++)
                        {
                            <tr>
                                <td>@Model.TimeSheetList[r].Date</td>
                                <td>@Model.TimeSheetList[r].OnCallHours</td>
                                <td>
                                    <input type="number" asp-for="TimeSheetList[r].TotalHours" placeholder="0" class="form-control">
                                </td>
                                <td>
                                    <input type="checkbox" asp-for="TimeSheetList[r].IsWeekend" class="p-1" class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" asp-for="TimeSheetList[r].NoOfHouseCalls" class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" asp-for="TimeSheetList[r].NoOfPhoneConsults" class="form-control">
                                </td>
                                <td></td>
                            </tr>
                        }

                        @if (Model.IsAdmin == true)
                        {
                            @* ----------PAYRATE-------- *@
                            <tr>
                                <td>Payrate</td>
                                <td></td>
                                <td>
                                    <input asp-for="Shift" type="number" disabled class="form-control">
                                </td>
                                <td>
                                    <input type="number" asp-for="NightShiftWeekend" disabled class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="number" asp-for="HouseCalls" disabled class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="number" asp-for="PhoneConsults" disabled class="form-control">
                                </td>
                                <td>
                                </td>
                            </tr>

                             @* ------INVOICE TOTAL----------   *@
                            <tr>
                                <td>Invoice Total</td>
                                <td></td>
                                <td>
                                    <input type="number" asp-for="InvoiceTotalHours" disabled class="form-control">
                                </td>
                                <td>
                                    <input type="number" asp-for="InvoiceWeekendHoliday" disabled class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="number" asp-for="InvoiceHouseCalls" disabled class="form-control">
                                </td>
                                <td class="text-center">
                                    <input type="number" asp-for="InvoicePhoneConsults" disabled class="form-control">
                                </td>
                                <td>
                                    <input type="number" asp-for="InvoiceTotal" disabled class="form-control">
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
                <div class="d-flex flex-row-reverse">
                    <button name="operation" value="submit" type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </div>

    </div>

    <div style="margin: 10px 0px 20px 310px;">
        <button type="button" onclick="toggleReceiptSection()" class="btn btn-info">Add Receipts</button>
    </div>

    <div class="box1 mt-3" style="display:none;" id="billDetails">

        <div class="headitem container">
            <div class="table-responsive">
                <table class="table ">
                    <thead style="background-color: lightgrey;">
                        <tr>
                            <th width="10%">Date</th>
                            <th width="15%">Item</th>
                            <th width="15%">Amount</th>
                            <th width="30%">Bill</th>
                            <th width="30%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.TimeSheetList.Count; i++)
                        {
                            <tr>
                                <td>@Model.TimeSheetList[i].Date <input type="hidden" asp-for="TimeSheetList[i].Date" /></td>
                                <td><input type="text" asp-for="TimeSheetList[i].Item"  class="form-control"/></td>
                                <td><input type="number" asp-for="TimeSheetList[i].Amount"  class="form-control"/></td>
                                <td>
                                    <input type="file" asp-for="TimeSheetList[i].Bill" class="form-control">
                                </td>
                                <td>
                                    @if (Model.TimeSheetList[i].BillName != null)
                                    {
                                        <button class="btn btn-outline-info">Edit</button>
                                        <button class="btn btn-outline-info">Delete</button>
                                        <button class="btn btn-outline-info">View</button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (Model.IsAdmin != true)
            {
                <div class="d-flex">
                    <button type="submit" name="operation" value="finalize" class="btn p-2 text-light btn-info ms-auto">Finalize</button>
                </div>
            }

        </div>
    </div>

    @if (Model.IsAdmin == true)
    {
        <div class="d-flex flex-row-reverse form-floating form-outline mb-5 box2 " >
            <div class="mx-3">
                <button type="submit" name="operation" value="approve" class="btn p-2 ms-1 text-light btn-info">Approve</button>
            </div>
            <div>
                <input type="text" class="form-control mx-2" id="admindesc" placeholder="Admin Description">
            </div>
            <div>
                <input type="number" class="form-control" id="bonusamount" placeholder="bonus amount">
                  @* <label for="bonusamount" class="labels form-label ms-3">Bonus Amount</label>   *@
            </div>

        </div>
    }

</form>



