<div class="d-none d-md-block">

<table class="table">
    <thead class="table-active">
        <tr>
            <th scope="col">Account Type</th>
            <th scope="col">Account POC</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col">Open Requests</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.userAccess)
        {
            <tr>

                <td>@obj.AccountType</td>
                <td>@obj.AccountPOC</td>
                <td>@obj.Phone</td>
                <td>@obj.Status</td>
                <td>@obj.OpenRequest</td>
                <td class="d-flex">
                    @if(obj.AccountType == "Admin")
                    {
                        <button class="btn btn-outline-info ms-2" onclick="window.location.href='@Url.Action("AdminMyProfile","Admin",new{ adminId = obj.AdminId})'">Edit</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-info ms-2" onclick="window.location.href='@Url.Action("EditPhysicianAccount","Admin",new{physicianId = obj.PhysicianId})'">Edit</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

<div class="d-block d-md-none">
    @{
        var counter = 1;
    }
    <div class="accordion accordion-flush" id="userAccessAccordion">
        @foreach (var item in Model.userAccess)
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_@(counter)">
                    <button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#contentaccordian_@(counter)" aria-expanded="false" aria-controls="content" style="background-color: #E6faff;">
                        <div class="d-flex justify-content-start align-items-center">
                            <div>
                                <p class="mb-0" style="font-weight: 600;">@item.AccountPOC</p>
                                <br/>
                                <p class="mb-0" style="color: gray; font-size: 12px;">Account Type: <span style="font-weight: 600;">@item.AccountType</span></p>
                            </div>
                        </div>
                    </button>
                </h2>
                <div id="contentaccordian_@(counter)" class="accordion-collapse collapse" style="background:#E6faff" aria-labelledby="heading_@(counter)" data-bs-parent="#userAccessAccordion">
                    <div class="accordion-body">
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <i class="fas fa-user-md text-primary"></i>
                            <span>Phone:</span>
                            <span>@item.Phone</span>
                        </div>
                        
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <i class="fas fa-user-md text-primary"></i>
                            <span>Status:</span>
                            <span>@item.Status</span>
                        </div>
                        
                        <div class="d-flex align-items-center gap-3 mb-3">
                            <i class="fas fa-user-md text-primary"></i>
                            <span>OpenRequest:</span>
                            <span>@item.OpenRequest</span>
                        </div>
                        <div class="d-flex justify-content-end">
                            @if (item.AccountType == "Admin")
                            {
                                <button class="btn btn-outline-info ms-2" onclick="window.location.href='@Url.Action("AdminMyProfile","Admin",new{ adminId = item.AdminId})'">Edit</button>
                            }
                            else
                            {
                                <button class="btn btn-outline-info ms-2" onclick="window.location.href='@Url.Action("EditPhysicianAccount","Admin",new{physicianId = item.PhysicianId})'">Edit</button>
                            }
                           
                        </div>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
</div>