@model DAL.ViewModel.ProviderVm;

@{
    Layout = "~/Views/Shared/_LayoutMainAdminDashboard.cshtml";
}

<head>
    <style>
        .form-select {
            height: 3em !important;
            width: 20em;
            color: gray !important;
            font-size: 10px;
            box-shadow: none !important;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
        }
    </style>
</head>
<main class="bg-light container">
    <h4>Provider Information</h4>
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center mt-3 mb-3 me-2">
            <select class="form-select " aria-label="Default select example">
                <option value="0" selected class="fs-4">All Region</option>
                @foreach (var obj in Model.regions)
                {
                    <option value="@obj.RegionId" class="fs-4">@obj.Name</option>
                    
                }
            </select>                
            <button type="button" class="btn bg-info ms-auto">
                    <Span class=" d-none d-md-block">
                        Create Provider Account
                    </Span><i class="bi bi-plus-lg d-block d-md-none"></i>
            </button>
        </div>
        <div>
            <table class="table d-block">

                <thead class="table-active">
                    <tr>
                        <th scope="col" width="10%">Stop Notification</th>
                        <th scope="col">
                            Provider Name<i class="bi bi-arrow-up ms-2"></i>
                        </th>
                        <th scope="col">Role</th>
                        <th scope="col">On Call Status</th>
                        <th scope="col" width="20%">Status</th>
                        <th scope="col" width="15%" class="">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var obj in Model.physicians)
                    {
                        <tr>
                            <td> <input type="checkbox"/></td>
                            <td>@obj.FirstName @obj.LastName</td>
                            <td class="roleChange">
                                Loading...
                            </td>
                            <td>Available</td>
                            <td>
                                @if(obj.Status == 1)
                                {
                                    <p>New</p>
                                }
                                else if(obj.Status == 2)
                                {
                                    <p>Active</p>
                                }
                                else if (obj.Status == 4)
                                {
                                    <p>Other</p>
                                }
                            </td>
                            <td class="d-flex">
                                <button class="btn btn-outline-info me-2">Contact</button>
                                <button class="btn btn-outline-info ms-2 d-none d-md-block">Edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</main>


<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const roleIds = [1,2,3];
        roleIds.forEach(roleId => {
            getRoleNameForPhysicianId(roleId);
        })
    });


    // function getRoleNameForPhysicianId(roleId) {
    //     const url = `/Admin/GetRoleName?id=${roleId}`;
    //     console.log(roleId);
    //     fetch(url)
    //         .then(response => {
    //             console.log(response)
    //             if (!response.ok) {
    //                 throw new Error('Network response was not ok');
    //             }
    //             return response.json();
    //         })
    //         .then(data => {
    //             const roleName = data.roleName;

    //             // Update UI with role name
    //             const roleElement = document.getElementById(`role-name-${roleId}`);
    //             if (roleElement) {
    //                 roleElement.innerText = roleName;
    //             } else {
    //                 console.error('Role element not found for ID:', roleId);
    //             }
    //         })
    //         .catch(error => {
    //             console.error('Error fetching role name:', error);
    //         });
    // }


    function getRoleNameForPhysicianId(roleId) {

        console.log(roleId)
        $.ajax({
            url: '@Url.Action("GetRoleName", "Admin")',
            type: 'GET',
            data: { roleid : roleId },
            success: function (result) {
                console.log(result)
                console.log(result.roleName)
                $('.roleChange').text(result.roleName);
            },
            error: function () {
                alert('Error loading data');
            }
        });
    }

</script>