@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accesor;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HelloDoc2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- bootstrap CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@*     <link rel="stylesheet" href="~/HelloDoc2.styles.css" asp-append-version="true" />
 *@

    @* TOASTER *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <link rel="stylesheet" href="~/css/AllModel.css" />
    <link rel="stylesheet" href="~/css/AdminDashboard.css"/>
    <link rel="stylesheet" href="~/css/MySchedule.css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
@*     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> *@



    <!-- Option 1: Include in HTML -->
</head>

<body id="partial-change">


    <nav class="navbar navbar-expand navbar-light rounded py-0" aria-label="">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation" style="height: 50%;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand header-logo"><img src="~/SRS Screen Shorts/doctorlogo.png" alt="doctor-logo" class="doctor-img logo"></a>
            </div>
            <div>
                <ul class="navbar-nav ms-auto d-flex flex-nowrap">
                        <li class="nav-item p-2 d-none d-sm-flex">
                        Welcome <span class="fw-bolder  ms-2">@Accesor.HttpContext.Session.GetString("adminName")</span>
                        </li>
                    <li class="nav-item">
                            <button type="button" class="btn btn-outline-info logout-btn" onclick="logoutfxn()">
                                <span class=" d-none d-md-block">Logout</span><i class="bi bi-box-arrow-right d-md-none d-block"></i>
                            </button>
                    </li>
                    @* <li class="nav-item">
                        <button type="button" class="btn btn-outline-info ms-2" onclick="changeTheme()">
                           <i class="bi bi-moon switch1"></i><i class="bi bi-brightness-high switch2" style="display:none"></i>
                        </button>
                    </li> *@
                </ul>
            </div>
        </div>
    </nav>
    <hr class="m-0 hr_line">

    <nav class="navbar navbar-expand-lg py-0 pt-2" style="z-index: 10;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link @(ViewBag.ActiveDashboardNav == "AdminDashboard" ? "active" : "")" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link @(ViewBag.ActiveDashboardNav == "ProviderLocation" ? "active" : "")" onclick="window.location.href='@Url.Action("ProviderLocation","Admin")'" >Provider Location</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.ActiveDashboardNav == "AdminMyProfile" ? "active" : "")" asp-action="AdminMyProfile" asp-controller="Admin">My Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link w-100 p-auto links @(ViewBag.ActiveDashboardNav == "Provider" ? "active" : "")" role="button" data-bs-toggle="dropdown">Providers <i class="bi bi-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item @(ViewBag.ActiveDropdown == "Provider" ? "active" : "")" asp-action="Provider" asp-controller="Admin" >Provider</a></li>
                            <li><a class="dropdown-item @(ViewBag.ActiveDropdown == "Scheduling" ? "active" : "")" asp-action="Scheduling" asp-controller="Admin">Scheduling</a></li>
                        </ul>
                    </li>   
                    <li class="nav-item">
                        <button class="nav-link @(ViewBag.ActiveDashboardNav == "Partners" ? "active" : "")" onclick="window.location.href='@Url.Action("Partners","Admin")'">Partners </button>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link w-100 bs-tooltip-auto links @(ViewBag.ActiveDashboardNav == "Access" ? "active" : "")" role="button" data-bs-toggle="dropdown">Access <i class="bi bi-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "access" ? "active" : "")" onclick="window.location.href='@Url.Action("Access","Admin")'" role="button" data-bs-toggle="dropdown">Access</button></li>
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "UserAccess" ? "active" : "")" onclick="window.location.href='@Url.Action("UserAccess","Admin")'">User Access</button></li>
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "AdminCreateAccount" ? "active" : "")" onclick="window.location.href='@Url.Action("AdminCreateAccount","Admin")'">Admin Create Account</button></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link w-100 bs-tooltip-auto links @(ViewBag.ActiveDashboardNav == "Record" ? "active" : "")" role="button" data-bs-toggle="dropdown">Records <i class="bi bi-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "SearchRecord" ? "active" : "")" onclick="window.location.href='@Url.Action("SearchRecord","Admin")'">Search Records</button></li>
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "EmailLog" ? "active" : "")" onclick="window.location.href='@Url.Action("EmailLog","Admin")'">Email Logs</button></li>
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "SmsLog" ? "active" : "")" onclick="window.location.href='@Url.Action("SMSLog","Admin")'" >SMS Logs</button></li>
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "PatientRecord" ? "active" : "")" onclick="window.location.href='@Url.Action("PatientRecord","Admin")'" >Patient Recodes</button></li>
                            <li><button class="dropdown-item w-100 p-auto @(ViewBag.ActiveDropdown == "BlockHistory" ? "active" : "")" onclick="window.location.href='@Url.Action("BlockHistory","Admin")'" >Block History</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>  

    <div class="container-fluid p-0 mt-3">
        <main role="main" class="">
            <partial name="_ToastNotification" />
            @RenderBody()
        </main>
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function logoutfxn() {
            window.location.replace("/Login/Login");
        }
    </script>
</body>
</html>
