@model DAL.ViewModel.AdminDashboardViewModel


<head>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>


<div class="d-flex justify-content-between align-items-center">
    <h5 class="ms-3">Patients (New)</h5>
    <div class="d-flex me-3">
        <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-sm-2 p-1 align-items-center text-light">
            <i class="bi bi-send  me-md-1"></i><span class="d-md-block d-none  px-2 ">
                Send
                Link
            </span>
        </button>
        <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
            <i class="bi bi-pencil-square me-md-1"></i>
            <span class="d-md-block d-none px-2 ">
                Create
                Request
            </span>
        </button>
        <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
            <i class="bi bi-arrow-up-right me-md-1"></i><span class="d-md-block d-none px-2 ">Export</span>
        </button>
        <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
            <i class="bi bi-box-arrow-up-right me-md-1"></i><span class="d-md-block d-none px-2 ">
                Export
                All
            </span>
        </button>
        <button type="button" class="btn btn-info d-flex ms-1 ms-sm-2 p-1 p-sm-2 align-items-center text-light">
            <i class="bi bi-person-plus me-md-1"></i><span class="d-md-block d-none px-2 ">
                Request DTY
                Support
            </span>
        </button>
    </div>
</div>


<div class="mt-2 mb-2 container-fluid">
    <div class="d-md-flex justify-content-between align-items-center gap-2">

        <div class="d-md-flex gap-1">
            <form role="search" class="mb-2" >
                <!-- <i class="bi bi-search"></i> -->
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="my-search-input">
            </form>
            <!-- Example split danger button -->

            <select class="form-select mb-2" aria-label="Default select example">
                <option value="0" selected>All Region</option>
                <option value="1">Singapore</option>
                <option value="2">csx xd</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="d-flex gap-2 align-items-center mb-2">
            <button class="btn btn-outline-secondary d-none d-md-block">All</button>
            <div type="button" class="d-md-flex gap-1 mx-auto text-center align-items-center" onclick="fetchRequests(@Model.StatusForName, '1',@Model.Regin_Short)">
                <i class="bi bi-circle-fill color_p"></i>
                <div class="common-txt">Patient</div>
            </div>
            <div type="button" class="d-md-flex gap-1 mx-auto text-center align-items-center" onclick="fetchRequests(@Model.StatusForName, '2', @Model.Regin_Short)">
                <i class="bi bi-circle-fill  color_f"></i>
                <div class="common-txt">Family/Friends</div>
            </div>
            <div type="button" class="d-md-flex gap-1 mx-auto text-center align-items-center" onclick="fetchRequests(@Model.StatusForName, '3' ,@Model.Regin_Short)">
                <i class="bi bi-circle-fill color_b"></i>
                <div class="common-txt">Business</div>
            </div>
            <div type="button" class="d-md-flex gap-1 mx-auto text-center align-items-center" onclick="fetchRequests(@Model.StatusForName, '4', @Model.Regin_Short)">
                <i class="bi bi-circle-fill color_c"></i>
                <div class="common-txt">Concierge</div>
            </div>
            <div type="button" class="d-md-flex gap-1 mx-auto text-center align-items-center" onclick="fetchRequests(@Model.StatusForName, '5', @Model.Regin_Short)">
                <i class="bi bi-circle-fill color_v"></i>
                <div class="common-txt">Vip</div>
            </div>
        </div>

    </div>
@if (Model.requestListAdminDash.Count > 0)
{
    <div class="table-responsive d-none d-md-block">
            <table class="table" id="New">
            <thead>
                    <tr>
                    <th scope="col">Name</th>
                    @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5))
                    {
                    <th scope="col">Date Of Birth</th>   
                    }
                    @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3))
                    {
                    <th scope="col">Requestor</th>   
                    }
                    @if(Model.requestListAdminDash.Any(x => x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5 || x.Status == 6))
                    {
                    <th scope="col">Physician Name</th>
                    }
                    @if (Model.requestListAdminDash.Any(x => x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5 || x.Status == 6))
                    {
                    <th scope="col">Date Of Service</th>
                    }               
                    @if (Model.requestListAdminDash.Any(x => x.Status == 1))
                    {
                    <th scope="col">Requested date</th>
                    }

                    @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 6))
                    {
                        <th scope="col">Phone</th>
                    }
                    <th scope="col">Address</th>
                    @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3 || x.Status == 5))
                    {
                    <th scope="col">Notes</th>
                    }
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
  
            @foreach (var obj in Model.requestListAdminDash)
            {
                
                        <tr class="align-middle color_@obj.RequestTypeId" id="SearchData">
                            <td><div>@obj.Name</div></td>
                        @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5))
                        {
                            <td>@obj.date,@obj.month.ToString(),@obj.year</td>
                        }
                        @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3))
                        {
                            <td>@obj.Requestor</td>
                        }
                        @if (Model.requestListAdminDash.Any(x => x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5 || x.Status == 6))
                        {
                            <td>@obj.Physician</td>
                        }
                        @if (Model.requestListAdminDash.Any(x => x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5 || x.Status == 6))
                        {
                            <td>@obj.DateOfService</td>
                        }
                        @if (Model.requestListAdminDash.Any(x => x.Status == 1))
                        {
                            <td>@obj.RequestDate</td>   
                        }
                        @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 6))
                        {
                            <td>@obj.Phone</td>
                        }
                        <td>@obj.Address</td>
                        @if (Model.requestListAdminDash.Any(x => x.Status == 1 || x.Status == 2 || x.Status == 3 || x.Status == 5))
                        {
                        <td>@obj.Notes</td>  
                        }

                        <td class="d-flex dropdown">
                                @if (Model.requestListAdminDash.Any(x => x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5 || x.Status == 6))
                                {
                                    <button class="btn btn-outline-primary me-2 text-white border-white">Patient</button>
                                }
                                <button class="btn btn-outline-primary ms-2 text-white border-white d-none d-md-block">Provider</button>

                        </td>
                            <td class="dropdown">
                                <button class="btn btn-outline-primary text-white border-white d-none d-md-block" data-bs-toggle="dropdown">Actions</button>
                                <ul class="dropdown-menu">
                                    @if (Model.requestListAdminDash.Any(x => x.Status == 1))
                                    {
                                        <li><a class="dropdown-item" onclick="asigncase(@obj.RequestId)">Asign Case</a></li>
                                    }
                                    @if (Model.requestListAdminDash.Any(x => x.Status == 1))
                                    {
                                        <li><button class="dropdown-item" onclick="cancelcase(@obj.RequestId)">Cancel Case</button></li>
                                    }

                                    <li><button class="dropdown-item" onclick="location.href='@Url.Action("ViewCase","Admin", new {requestId = @obj.RequestId})'">View Case</button></li>

                                    @if(Model.requestListAdminDash.Any(x => x.Status == 2 || x.Status == 3 || x.Status == 4 || x.Status == 5 || x.Status ==6))
                                    {
                                        <li><a class="dropdown-item" asp-action="ViewUploads" asp-controller="Admin">View Uploads</a></li>
                                    }
                                    <li><a class="dropdown-item" asp-action="ViewNotes" asp-controller="Admin" asp-route-requestId="@obj.RequestId">View Notes</a></li>
                                    @if(Model.requestListAdminDash.Any(x => x.Status == 3 || x.Status == 4 || x.Status == 5 ))
                                    {
                                        <li><a class="dropdown-item" asp-action="Orders" asp-controller="Admin">Orders</a></li>
                                    }
                                    @if (Model.requestListAdminDash.Any(x => x.Status == 3 || x.Status == 4 || x.Status == 5))
                                    {
                                        <li><a class="dropdown-item" href="#">Doctors Notes</a></li>
                                    }
                                    @if(Model.requestListAdminDash.Any(x => x.Status == 5))
                                    {
                                        <li><button class="dropdown-item">Close Case</button></li>
                                    }
                                    @if(Model.requestListAdminDash.Any(x => x.Status == 2))
                                    {
                                        <li><a class="dropdown-item" asp-action="Transfer" asp-controller="Admin">Transfer</a></li>
                                    }
                                    @if (Model.requestListAdminDash.Any(x => x.Status == 2 || x.Status == 5))
                                    {
                                        <li><a class="dropdown-item" href="#">Clear Case</a></li>
                                    }
                                    @if (Model.requestListAdminDash.Any(x => x.Status == 2))
                                    {
                                        <li><a class="dropdown-item" href="#">Send Agreement</a></li>
                                    }
                                    @if (Model.requestListAdminDash.Any(x => x.Status == 1))
                                    {
                                        <li><a class="dropdown-item" href="#">Block Patient</a></li>
                                    }
                                    @if (Model.requestListAdminDash.Any(x => x.Status == 3 || x.Status == 4 || x.Status == 5))
                                    {
                                    <li><a class="dropdown-item" href="#">Encounter</a></li>
                                    }
                                </ul>
                            </td>
                </tr>
            }
        </tbody>
    </table>
    </div>

}


@foreach(var item in Model.requestListAdminDash) {


<div class="accordion d-block d-md-none" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@item.RequestId" aria-expanded="true" aria-controls="collapseOne_@item.RequestId">
        Accordion Item 
      </button>
    </h2>
    <div id="collapseOne_@item.RequestId" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
}
            
        
</div>





@* <script>
    $(document).ready(function () {
        $("#searchInput").on("input", function () {
            var value = $(this).val().toLowerCase();
            $("#SearchData tr").filter(function () {
               $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
           });
       });
    });


</script> *@

@* --------------------------------this code is for pagination, add this if needed and also for search-------------------------------- *@
 @*    <script>
        $(document).ready(function () {
            $('#New').DataTable({
                "initComplete": function (settings, json) {

                    $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                    $('#my-search-input').on('keyup', function () {
                        var searchValue = $(this).val();
                        settings.oPreviousSearch.sSearch = searchValue;
                        settings.oApi._fnReDraw(settings);
                    });
                },
                "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
                "pageLength": 5,
                language: {
                    oPaginate: {
                        sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                        sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                    }
                }
            });
            // $('.dataTables_length').hide();
            $('.dataTables_filter').hide();
        });

    </script> *@
@* -------------------------pagination end------------------ *@


@* -------------- this is cancel case popup div ------------------ *@
<div id="contentCancelNote">

</div>
@* ------------------cancel case pop up end---------------------- *@

<div id="contentAsignNote">
</div>


<script>
    // function cancelcase(RequestId, Name) {

    //     $('#requestid').val(RequestId);
    //     $('#Fullname').text(Name);

    //     $.get('/Admin/CancelCase', function (data) {
    //         // Handle the response data here
    //         console.log('GET method called successfully!');
    //     });
    // }


    function cancelcase(reqid) {

        console.log("CLicked")

        let action = "/Admin" + "/" + "CancelCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'GET',
            data: { req: reqid },
            success: function (result) {
                console.log(result)
                $('#contentCancelNote').html(result);
                $('#newRequestModal').modal('show');

            },
            error: function () {
                alert('Error loading partial view');
            }
        });
    }


    function asigncase(reqid) {

        console.log("CLicked")

        let action = "/Admin" + "/" + "AsignCase"
        event.preventDefault();
        $.ajax({
            url: action,
            type: 'POST',
            data: { req: reqid },
            success: function (result) {
                console.log(result)
                $('#contentAsignNote').html(result);
                $('#myModalAssign').modal('show');

            },
            error: function () {
                alert('Error loading partial view');
            }
        });
    }

</script>


@* assign case pop up *@

@*ASSIGN CASE MODAL - 3*@


@* asign case pop up end *@