@model DAL.ViewModel.RecordVm;
@{
    Layout = "~/Views/Shared/_LayoutMainAdminDashboard.cshtml";
}

<div class="container mt-5">
	<div class="d-flex justify-content-between">
		<h3>Patient Record</h3>
		<button class="btn btn-info" onclick="window.location.href='@Url.Action("PatientRecord","Admin")'">
			<span class="text-white">&lt; Back</span>
		</button>
	</div>

	<div class="table-responsive mt-5" style=" min-height:400px">
		<table class="table overflow-visible">
			<thead class="table-active">
				<tr>
					<td>Client/Member</td>
					<td>Created Date</td>
					<td>Confirmation</td>
					<td>Provider Name</td>
					<td>Concluded Date</td>
					<td>Status</td>
					<td>Final Report</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
				@foreach(var obj in Model.patientRecordExplores)
				{
					<tr>
						<td>@obj.Client</td>
						<td>@obj.CreatedDate</td>
						<td>@obj.Confirmation</td>
						<td>@obj.ProviderName</td>
						<td>@obj.ConcludedDate</td>
						<td>@obj.Status</td>
						<td>
							<button class="btn btn-outline-info" onclick="window.location.href='@Url.Action("GeneratePDF","Provider",new {requestId = obj.RequestId})'">View</button>
						</td>
						<td>
							@* <button class="dropdown btn btn-outline-info">Actions</button> *@
							<li class="nav-item dropdown btn btn-outline-info">
								<a class="nav-link w-100 bs-tooltip-auto links " role="button" data-bs-toggle="dropdown">Actions</a>
								<ul class="dropdown-menu">
									<li class="dropdown-item" onclick="window.location.href='@Url.Action("ViewCase","Admin",new{requestId = obj.RequestId})'">View Case</li>
									<li class="dropdown-item">(@obj.DocCount)Documents</li>
								</ul>
							</li>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>